/* light css styling */
body {
  /* margin: 0; */
  font-family: sans-serif;
  /* display: flex; */
  text-align: center;
  margin: 0px;
  padding:0px;
  /* align-items: center; */
  /* display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center; */
  /* min-height: 100vh; */
}
table,
th,
td {
  table-layout: fixed;
  border: 1px solid black;
  width: 90%;
}

.user_home{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body > {
  margin: 0px;
  padding:0px;
}
/* .user_home > {
  margin: 0px;
  padding:0px;
} */
.top_half{
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;

}
.about{
  background-color: blanchedalmond;
  width: 60%;
}
.bottom_bit{
  width: 100%;
  height: 20px;
  background-color: blanchedalmond;

}
.bottom_half{
  display: flex;
  height: 500px;
  justify-content: space-evenly;
  width: 100%;
}
.left{
  flex-grow: 1;
}
.right{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
  padding: 20%;
}
.login_form > input[type=text] {
  width: 100%;
  /* padding: 12px 20px;
  margin: 8px 0; */
  /* box-sizing:unset; */
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.form_container{
  width:200px;
}
/* input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4c74af;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #5645a0;
}

.form_container {
  width: 30%;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5%;

  /* border-style: solid;
  border-color: #4c74af; */
/* }  */ */ */

/* .tbl_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
