<!-- takes the format of base.html -->
{% extends 'base.html' %}

{% block head %} 
<title>Create Account</title>
{% endblock %}

{% block body %} 
<!-- basic stuff in the body -->
<div class=login>
    <!-- title -->
    <h1>ADMIN INDEX</h1>

    <!-- link to the login page -->
    <a href='/login'>login</a>
    <br>
    <a href='/upload/0'>upload image</a>
    <br>
    <!-- table for the current usernames and passwords -->
    <div class="tbl_container">
        <table>
            <!-- titles -->
            <tr>
                <th>id</th>
                <th>username</th>
                <th>password</th>
                <th>email</th>
                <!-- <th>date</th > -->
                <th>actions</th>
            </tr>
            <!-- for each user -->
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.email }}</td>
                    <!-- <td>{{ user.dateAdded }}</td> -->
                    <td>
                        <!-- links to update and delete user -->
                        <a href="/delete/{{user.id}}">Delete</a>
                        <br>
                        <a href="/update/{{user.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    
    <!-- form to add a user -->
    <div class='form_container'>
        <form action='/' method="POST">
            <br>
            <!-- <a>username</a> -->
            <input type="text" name='username' id='username' placeholder="username">
            <br>
            <br>
            <!-- <a>password</a> -->
            <input type='text' name='password' id='password' placeholder="password">
            <br>
            <br>
            <!-- <a>email</a> -->
            <input type='text' name='email' id='email' placeholder="email address (optional)">
            <br>
            <br>
            <!-- <a>pfp</a> -->
            <input type='file' name='pfp' id='pfp'>
            <!-- <br> -->
            <input type='submit' value='Add user'>
        </form>
    </div>
    
    <div class="tbl_container">
        <table>
            <!-- titles -->
            <tr>
                <th>id</th>
                <th>user id</th>
                <th>image path</th>
                <th>scan image path</th> 
                <th>notes</th>
                <th>date time</th>
                <!-- <th>date</th > -->
            </tr>
            <!-- for each user -->
            {% for image in images %}
                <tr>
                    <td>{{ image.id }}</td>
                    <td>{{ image.user_id }}</td>
                    <td>{{ image.image_path }}</td>
                    <td>{{ image.scan_image_path }}</td>
                    <td>{{ image.notes }}</td>
                    <td>{{ image.date_time_added }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}