<!-- takes the format of base.html -->
{% extends 'base.html' %}

{% block head %} 
<title>login</title>
{% endblock %}

{% block body %} 
<!-- basic stuff in the body -->
<h1>LOGIN</h1>
    <div class="login_form" style="float: left; position:relative; left: 26%;">
        <div class="form_container" >
            <form action='/login' method="POST">
                <input type="text" name='username' id='username' >
                <input type='password' name='password' id='password' >
                <input type='submit' value='login'>
            </form>
        </div>
        <div>
            <a href="/user_home">return</a>
            <br>
            <a href='/create_account'>create account</a>
            <br>
    </div>
</div>
{% endblock %}