<!-- takes the format of base.html -->
{% extends 'base.html' %}

{% block head %} 
<title>send email</title>
{% endblock %}

{% block body %} 
<!-- basic stuff in the body -->
<h1>Share scan {{ scanid }}</h1>
<div class='form_container' style='width: 700px; position: relative; left: 26%;'>
    <form action='/send_email/{{ scan.id }}' method="POST">
        <h3>title</h3>
        <input type='text' name='email_title' id='email_title'>
        <h3>email address</h3>
        <a>a copy is automatically sent to your email</a>
        <input type='text' name='email' id='email'>
        <h3>message</h3>
        <textarea name='message' id='message' rows="10" cols=50 placeholder="enter message for email here"></textarea>     
        <h3>notes</h3>
        <textarea readonly name='notes' id='notes' class='notes' rows="10" cols="50">{{scan.notes}}</textarea>
        <br>
        <input type='submit' value='Send'>
    </form>
</div>
<br>
<a>Attachments </a>
<br>
<img src={{scan.image_path}} width='50%'>
<br>
<br>
<img src={{scan.scan_image_path}} width="50%" atl='scan'>
{% endblock %}