<!-- takes the format of base.html -->
{% extends 'base.html' %}

{% block head %} 
{% endblock %}

{% block body %} 
<h1>Uploaded</h1>
<!-- if guest, return to guest page -->
{% if userid == 0 %}
    <div><a href="/user/0">return to index</a></div>
{% elif user_id != 0 %}
<!-- if signed in return to user page -->
    {% set returnurl = '/user/' + scan.user_id|string %}

    <div><a href={{returnurl}}>return</a></div>
{% endif %}

<!-- render image -->
<div><img src={{scan.image_path}}></div>
{% endblock %}