<!-- takes the format of base.html -->
{% extends 'base.html' %}

{% block head %} 
{% if user.username %}
    <title>user : {{user.username}}</title>
{% else %}
    <title>user : guest</title>
{% endif %}

{% endblock %}

{% block body %} 
<!-- basic stuff in the body -->

<!-- jinja syntax -->
{% if user.username %}

    <!-- if user is signed in and user is passed into the page -->
    <!-- display the following -->
    <h1>user : {{user.username}}</h1>
    <h1>pswd : {{user.password}}</h1>
    <a href="/update/{{user.id}}">update account</a>
    <br>
    <br>
    <a href='/upload/{{user.id}}'>upload image</a>
{% else %}
    <!-- otherwise print guest info -->
    <h1>user : guest</h1>
    <h1>pswd : N/A</h1>
    <br>
    <!-- need a special upload link for guests as well -->
    <a href='/upload/0'>upload image</a>
{% endif %}

<!-- everyone has the option to sign out -->
<br>
<a href="/">sign out</a>
<br>


<!-- <form action='/update/{{ user.id }}' method="POST"></form> -->

<div class='form_container'>
    <table>
        <tr>
            <!-- titles of the table -->
            <th>datetime</th>
            <th>images</th>
            <th>notes</th>
            <th>actions</th>
            <!-- if images exists -->
            {% if images %}
                <!-- if images is not a list -->
                <!-- {% if images|length == 0 %} -->
                    <tr>
                        <!-- we need to check this because then we dont need to loop 
                        and we can refer directly to images -->
                        <!-- {% set source = '..' + images.image_path %}
                        <td>{{images.date_time_added}}</td>
                        <td><image src='{{ source }}' width=300px href='/view/{{user.id}}/{{images.id}}'></td>
                        <td>{{images.notes}}</td>
                        <td><a href='/update_scan/{{images.id}}'>update</a></td>
                    </tr> -->
                <!-- {% else %} -->
                <!-- otherwise if there is more than one image -->
                <!-- jinja syntax allows us to loop on the images list -->
                    {% for image in images %}
                        <tr>
                            <!-- jinja syntax -->
                            {% set source = '..' + image.image_path %}
                            <!-- rows -->
                            <td>{{image.date_time_added}}</td>
                            <td>
                                <!-- if the user is signed in -->
                                {% if user.id %}
                                    <!-- the link includes the userid -->
                                    <a href='/view/{{user.id}}/{{image.id}}'>
                                        <image src='{{ source }}' width=300></image>
                                    </a>
                                {% else %}
                                    <!-- otherwise the link sends user 0 (guest) automatically -->
                                    <a href='/view/0/{{image.id}}'>
                                        <image src='{{ source }}' width=300></image>
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{image.notes}}</td>
                            <!-- link to an update uption that we will use later -->
                            <td><a href='/update_scan/{{image.id}}'>update</a></td>
                        </tr>
                    {% endfor %}   
                <!-- {% endif %} -->
            {% endif %}
        </tr>
    </table>
</div>
{% endblock %}