<!-- takes the format of base.html -->
{% extends 'base.html' %}

{% block head %} 
<title>user home</title>
{% endblock %}

{% block body %} 
<div class="user_home">
    <div class="top_half">
        <div class='about'>
            <h1>Welcome to the cancer image classifier!</h1>
            <!-- <h3>About</h3> -->
            <br>
            <br>
            <a>
                This app classifies types of cancer using machine learning models and convolutional networks. Just upload an image and see how it works!.
                Creating an account allows you to store and look over your past uploads and share them with friends. You can also store notes about each image for future reference.
            </a>
        </div>
        <!-- <div class="bottom_bit"></div> -->
    </div>
   <div class="bottom_half" style="height: auto;">
       <div class="left" style="width: 49%; float: left;">
            <div class="guest" style="background-color:darksalmon">
                <a href='/upload/0'>
                    <i class="fas fa-file-upload"></i>
                    Upload as guest
                </a>
                <br>
                <br>
                <a>Uploading as a guest means you can use the model but will not be able to store or look back at previous scans. All guest scans are stored and tracked but images are overwritten.</a>
            </div>
       </div>
       <div class="right" style="width: 49%; float:right;">
            <div class="login_form">
                <div class="form_container">
                    <form action='/login' method="POST">
                        <h3>Login</h3>
                        <!-- <br> -->
                        <input type="text" name='username' id='username' placeholder="username">
                        <br>
                        <br>
                        <input type='password' name='password' id='password' placeholder="password">
                        <br>
                        <br>
                        <input type='submit' value='login'>
                    </form>
                </div>
                <br>
                <a>Don't have an account?</a>
                <br>
                <a href='/create_account/no_error'>create account</a>

        </div>
       </div>
       
   </div>
</div>
{% endblock %}