<!-- takes the format of base.html -->
{% extends 'base.html' %}

{% block head %} 
<title>user home</title>
{% endblock %}

{% block body %} 
<div class='about'>
    <h1>Welcome to the cancer image classifier!</h1>
    <br>
    <h3>About</h3>
    <a>
        This app classifies types of cancer using machine learning models and convolutional networks. Just upload an image and see how it works!.
        Creating an account allows you to store and look over your past uploads and share them with friends. You can also store notes about each image for future reference.
    </a>
    <h3>Use</h3>
    <a href='/login'>login</a>
    <br>
    <br>
    <a href='/create_account'>create account</a>
    <br>
    <br>
    <a href='/upload/0'>upload as guest</a>
    <br>
</div>


{% endblock %}