<!-- takes the format of base.html -->
{% extends 'base.html' %}

{% block head %} 
<title>view</title>
{% endblock %}

{% block body %} 

<!-- display username and scan date and time and image -->

<!-- if user.username exist then render username -->
{% if user.username %}
    <h1>user : {{user.username}}</h1>
{% else %}
<!-- otherwise it is a guest -->
    <h1>user : guest</h1>
{% endif %}
<a href='/user/{{scan.user_id}}'>return</a>
<h2>scan: {{scan.date_time_added}}</h2>
<br>
<a>cancer class: {{scan.cancer_class}}</a>
<br>
<br>
<a>notes:</a>
<br>
<textarea readonly rows="10" cols="50" >{{scan.notes}}</textarea>
<br>
<br>
<img src={{scan.image_path}} width='80%'>

{% endblock %}